{% extends 'buyer/base.html' %}

{% block tilte %}
    商品详情
{% endblock %}

{% block content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="/#model0{{ goods.goods_type.id }}">{{ goods.goods_type.label }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.goods_picture }}" style="width: 100%"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goods_name }}</h3>
			<p>{{ goods.goods_description }}。</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="price">{{ goods.goods_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input id="number" type="text" class="num_show fl" value="1">
					<a id="add" href="javascript:;" class="add fr">+</a>
					<a id="reduce" href="javascript:;" class="minus fr">-</a>
                    <span>库存<em id="goods_count">{{ goods.goods_count }}</em></span>
				</div>
			</div>
			<div class="total">总价：<em id="total">{{ goods.goods_price }}</em><em>元</em></div>
			<div class="operate_btn">
				<a id="buy_now" href="javascript:;" class="buy_btn">立即购买</a>
				<a id="add_cart" href="javascript:;" class="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村 ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。 </dd>
				</dl>
			</div>

		</div>
	</div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var price = $("#price").text();
        var goods_count = parseInt($("#goods_count").text());
        $("#number").blur(function () {
            let num = parseInt($("#number").val());
            if(num < 1){
                num = 1;
                $("#number").val(num);
            }else if (num > goods_count){
                num = goods_count;
                $("#number").val(num);
            } else {
                $("#number").val(num);
            }
            let total = price * num;
            $("#total").text(total.toFixed(2));
        });
        $("#add").click(function () {
            let num = parseInt($("#number").val());
            num += 1;
            if(num > goods_count) {
                num = goods_count;
            }
            $("#number").val(num);
            let total = price * num;
            $("#total").text(total.toFixed(2));
        });
        $("#reduce").click(function () {
            let num = parseInt($("#number").val());
            num -= 1;
            if(num < 1){
                num = 1;
            }
            $("#number").val(num);
            let total = price * num;
            $("#total").text(total.toFixed(2));
        });
        $("#buy_now").click(function () {
            let num = $("#number").val();
            let url = "/buyer/neworderinfo/?goods_id={{ goods.id }}&count=" + num;
            window.location.href = url;
        });
        //$("#add_cart").click(function () {
        //   let num = $("#number").val();
        //   let url = "/buyer/addgoods/?goods_id={{ goods.id }}&count=" + num;
        //   window.location.href = url;
        //});
        // ajax 实现商品添加到购物车
        $("#add_cart").click(function () {
            let num = $("#number").val();
            let sendData = {
                "goods_id" : {{ goods.id }},
                "count" : num,
                "csrfmiddlewaretoken" : "{{ csrf_token }}",
            };
            $.ajax({
                url: "/buyer/ajaxaddgoods/",
                type: "POST",
                data: sendData,
                success: function (data) {
                    //console.log(data);
                    alert(data["data"]);
                },
                error: function (error) {
                    console.log(error);
                },
            });
        })
    </script>
{% endblock %}